.elementor-453 .elementor-element.elementor-element-e60ff31:not(.elementor-motion-effects-element-type-background),
.elementor-453 .elementor-element.elementor-element-e60ff31>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #0F0F0F;
    background-image: url("../images/2021/06/dingtu-img2.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-453 .elementor-element.elementor-element-e60ff31 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 250px 0px 300px 0px;
}

.elementor-453 .elementor-element.elementor-element-e60ff31>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-453 .elementor-element.elementor-element-660738b .elementor-icon-wrapper {
    text-align: center;
}

.elementor-453 .elementor-element.elementor-element-660738b.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-453 .elementor-element.elementor-element-660738b.elementor-view-framed .elementor-icon,
.elementor-453 .elementor-element.elementor-element-660738b.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-453 .elementor-element.elementor-element-660738b.elementor-view-framed .elementor-icon,
.elementor-453 .elementor-element.elementor-element-660738b.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-453 .elementor-element.elementor-element-660738b .elementor-icon {
    font-size: 30px;
}

.elementor-453 .elementor-element.elementor-element-660738b .elementor-icon i,
.elementor-453 .elementor-element.elementor-element-660738b .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-453 .elementor-element.elementor-element-4b068eb {
    text-align: center;
}

.elementor-453 .elementor-element.elementor-element-4b068eb .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 50px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.elementor-453 .elementor-element.elementor-element-bde2d54 {
    text-align: center;
}

.elementor-453 .elementor-element.elementor-element-bde2d54 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Arial", Sans-serif;
    font-size: 20px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.elementor-453 .elementor-element.elementor-element-9b61ff2>.elementor-container {
    max-width: 1300px;
}

.elementor-453 .elementor-element.elementor-element-9b61ff2 {
    margin-bottom: 0px;
    background: aliceblue;
}

.elementor-453 .elementor-element.elementor-element-1c4c223>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2px 80px 2px 0px;
}

.elementor-453 .elementor-element.elementor-element-1c4c223>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-453 .elementor-element.elementor-element-2b10115 {
    text-align: center;
    padding: 10px;
}

.elementor-453 .elementor-element.elementor-element-2b10115 .elementor-heading-title {
    color: #333333;
    font-family: "Arial", Sans-serif;
    font-size: 30px;
    margin-top: 29px;
}

.elementor-453 .elementor-element.elementor-element-dd7e68c {
    --divider-border-style: solid;
    --divider-border-color: #6C6C6C;
    --divider-border-width: 1px;
}

.elementor-453 .elementor-element.elementor-element-dd7e68c .elementor-divider-separator {
    width: 100px;
    margin: 0 auto;
    margin-center: 0;
}

.elementor-453 .elementor-element.elementor-element-dd7e68c .elementor-divider {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-453 .elementor-element.elementor-element-dd7e68c>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-453 .elementor-element.elementor-element-8ef72d4 {
    color: #333333;
    font-family: "Arial", Sans-serif;
    font-size: 18px;
    line-height: 1.7em;
}


html[lang="ar"] .elementor-453 .elementor-element.elementor-element-8ef72d4 {
    direction: rtl !important;
    text-align: right !important;
}

.elementor-453 .elementor-element.elementor-element-8ef72d4>.elementor-widget-container {
    margin: 0px;
}

.elementor-453 .elementor-element.elementor-element-8956ab4>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-453 .elementor-element.elementor-element-a0073a6>.elementor-container {
    max-width: 1300px;
}

.elementor-453 .elementor-element.elementor-element-a0073a6 {
    padding: 20px ;
    background-image:url(../css/Gemini_Generated_Image_9kdtkn9kdtkn9kdt.jpg) ;
    background-size: cover;
    background-position: center;
}

html[lang="ar"] .elementor-453 .elementor-element.elementor-element-a0073a6 {
    direction: rtl !important;
    text-align: right !important;
}


.elementor-453 .elementor-element.elementor-element-a747e6c {
    text-align: center;
}

.elementor-453 .elementor-element.elementor-element-a747e6c .elementor-heading-title {
    color: #ffffff;
    font-family: "Arial", Sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 39px;
}

.elementor-453 .elementor-element.elementor-element-c0907e1 .elementor-text-editor {
    text-align: center;
    color: white;
}

.elementor-453 .elementor-element.elementor-element-c0907e1 {
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.8em;
}

.elementor-453 .elementor-element.elementor-element-c0907e1>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 0px 200px 0px 200px;
}

.elementor-453 .elementor-element.elementor-element-8d1b80e .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-453 .elementor-element.elementor-element-8d1b80e .elementor-posts-container {
    grid-column-gap: 15px;
    grid-row-gap: 40px;
}

.elementor-msie .elementor-453 .elementor-element.elementor-element-8d1b80e .elementor-post {
    padding-right: calc(30px/2);
    padding-left: calc(30px/2);
    padding-bottom: 35px;
}

.elementor-msie .elementor-453 .elementor-element.elementor-element-8d1b80e .elementor-posts-container {
    margin-left: calc(-30px/2);
    margin-right: calc(-30px/2);
}


.elementor-453 .elementor-element.elementor-element-8d1b80e.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 0px;
}

.elementor-453 .elementor-element.elementor-element-8d1b80e.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 0px;
}

.elementor-453 .elementor-element.elementor-element-8d1b80e.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 0px;
}

.elementor-453 .elementor-element.elementor-element-acf7abf>.elementor-container {
    max-width: 1200px;
}

.elementor-453 .elementor-element.elementor-element-acf7abf:not(.elementor-motion-effects-element-type-background),
.elementor-453 .elementor-element.elementor-element-acf7abf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background: aliceblue;
}

html[lang="ar"] .elementor-453 .elementor-element.elementor-element-acf7abf:not(.elementor-motion-effects-element-type-background),
.elementor-453 .elementor-element.elementor-element-acf7abf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    direction: rtl !important;
    text-align: right !important;
    
}


.elementor-453 .elementor-element.elementor-element-acf7abf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    padding: 20px 0px 80px 0px;
}

.elementor-453 .elementor-element.elementor-element-acf7abf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-453 .elementor-element.elementor-element-5331bae.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-453 .elementor-element.elementor-element-5331bae.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;

}

.elementor-453 .elementor-element.elementor-element-5331bae>.elementor-element-populated {
    padding: 10px 70px 10px 70px;
}

.elementor-453 .elementor-element.elementor-element-8e7b2bb .elementor-heading-title {
    color: #003366;
    font-family: "Arial", Sans-serif;
    font-size: 39px;
    line-height: 1.4em;
    font-weight: 600;
}

.elementor-453 .elementor-element.elementor-element-2c24ee6 {
    --divider-border-style: solid;
    --divider-border-color: #000;
    --divider-border-width: 1px;
}

.elementor-453 .elementor-element.elementor-element-2c24ee6 .elementor-divider-separator {
    width: 100px;
    margin: 0 auto;
    margin-left: 0;
}



.elementor-453 .elementor-element.elementor-element-d182d5f {
    color: #333333;
    font-size: 18px;
    line-height: 1.6em;
}

.elementor-453 .elementor-element.elementor-element-638a693:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-453 .elementor-element.elementor-element-638a693>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
    border-radius: 25px;

}

.elementor-453 .elementor-element.elementor-element-638a693>.elementor-element-populated {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-453 .elementor-element.elementor-element-638a693>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-453 .elementor-element.elementor-element-5331bae {
        width: 100%;
    }

    .elementor-453 .elementor-element.elementor-element-638a693 {
        width: 100%;
    }
}

@media(min-width:1025px) {

    .elementor-453 .elementor-element.elementor-element-e60ff31:not(.elementor-motion-effects-element-type-background),
    .elementor-453 .elementor-element.elementor-element-e60ff31>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-453 .elementor-element.elementor-element-9b61ff2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-453 .elementor-element.elementor-element-1c4c223>.elementor-element-populated {
        padding: 30px 50px 80px 0px;
    }

    .elementor-453 .elementor-element.elementor-element-a0073a6 {
        padding: 5px 0px 5px 0px;
    }

    .elementor-453 .elementor-element.elementor-element-c0907e1>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-453 .elementor-element.elementor-element-acf7abf {
        padding: 0px 0px 70px 0px;
    }

    .elementor-453 .elementor-element.elementor-element-638a693>.elementor-element-populated {
        margin: 50px 10px 10px 10px;
    }
}

@media(max-width:767px) {
    .elementor-453 .elementor-element.elementor-element-e60ff31 {
        padding: 150px 0px 150px 0px;
    }

    .elementor-453 .elementor-element.elementor-element-bde2d54 .elementor-heading-title {
        line-height: 1.5em;
    }

    .elementor-453 .elementor-element.elementor-element-1c4c223>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
    }

    .elementor-453 .elementor-element.elementor-element-2b10115 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-453 .elementor-element.elementor-element-c0907e1 {
        font-size: 16px;
    }

    .elementor-453 .elementor-element.elementor-element-8d1b80e .elementor-posts-container .elementor-post__thumbnail {}

    .elementor-453 .elementor-element.elementor-element-8d1b80e:after {
        content: "";
    }

    .elementor-453 .elementor-element.elementor-element-8d1b80e .elementor-post__thumbnail__link {
        width: 100%;
    }

    .elementor-453 .elementor-element.elementor-element-5331bae>.elementor-element-populated {
        padding: 10px 15px 10px 15px;
    }
}

.infotitle {
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 18pt;
    border-bottom: solid 1px #333;
    border-top: solid 6px #333;
    color: #333;
    font-weight: 600;
    line-height: 2;
    margin-top: 30px;
    margin-bottom: 20px;
}

.swiper-wrapper li {
    padding: 10px;
    flex: 1;
}