.elementor-452 .elementor-element.elementor-element-76a4780e>.elementor-container {
    min-height: 500px;
}

.elementor-452 .elementor-element.elementor-element-76a4780e>.elementor-container:after {
    content: "";
    min-height: inherit;
}

.elementor-452 .elementor-element.elementor-element-76a4780e:not(.elementor-motion-effects-element-type-background),
.elementor-452 .elementor-element.elementor-element-76a4780e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../images/2021/06/Gemini_Generated_Image_s6l8vys6l8vys6l8.png);
    background-position: center center;
    background-size: cover;
}

.elementor-452 .elementor-element.elementor-element-76a4780e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-452 .elementor-element.elementor-element-76a4780e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-70a94d10 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-70a94d10 .elementor-heading-title {
    color: #0b192e;
    font-family: "Arial", Sans-serif;
    font-size: 48px;
}
html[lang="ar"] .elementor-452 .elementor-element.elementor-element-70a94d10 .elementor-heading-title {
    direction: rtl !important;
}

.elementor-452 .elementor-element.elementor-element-98836a8 .elementor-text-editor {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-98836a8 {
    color: #656565;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-3a0feba7>.elementor-container {
    max-width: 1600px;
}

.elementor-452 .elementor-element.elementor-element-3a0feba7:not(.elementor-motion-effects-element-type-background),
.elementor-452 .elementor-element.elementor-element-3a0feba7>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-452 .elementor-element.elementor-element-3a0feba7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 20px 0px;
}

.elementor-452 .elementor-element.elementor-element-3a0feba7>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-10c26d3c:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-10c26d3c>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-10c26d3c>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-10c26d3c:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-10c26d3c>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-a239171 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-a239171.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-a239171.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-a239171.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-a239171.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-a239171.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-a239171 .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-a239171 .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-a239171 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-22cc0c20 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-22cc0c20 .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-54c27677:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-54c27677>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-54c27677>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-54c27677:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-54c27677>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-71568428 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-71568428.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-71568428.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-71568428.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-71568428.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-71568428.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-71568428 .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-71568428 .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-71568428 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-13dad29c {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-13dad29c .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-54f5be24:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-54f5be24>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-54f5be24>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-54f5be24:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-54f5be24>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-315c793f .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-315c793f.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-315c793f.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-315c793f.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-315c793f.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-315c793f.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-315c793f .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-315c793f .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-315c793f .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-fa60cb5 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-fa60cb5 .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-7e4390cc:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-7e4390cc>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-7e4390cc>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-7e4390cc:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-7e4390cc>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-32809138 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-32809138.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-32809138.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-32809138.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-32809138.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-32809138.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-32809138 .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-32809138 .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-32809138 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-351636d6 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-351636d6 .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-400d9856>.elementor-container {
    max-width: 1600px;
}

.elementor-452 .elementor-element.elementor-element-400d9856:not(.elementor-motion-effects-element-type-background),
.elementor-452 .elementor-element.elementor-element-400d9856>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-452 .elementor-element.elementor-element-400d9856 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0px 80px 0px;
}

.elementor-452 .elementor-element.elementor-element-400d9856>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-6a15af22:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-6a15af22>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-6a15af22>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-6a15af22:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-6a15af22>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-264a1bd5 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-264a1bd5.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-264a1bd5.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-264a1bd5.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-264a1bd5.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-264a1bd5.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-264a1bd5 .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-264a1bd5 .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-264a1bd5 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-3440bd66 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-3440bd66 .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-45674ff0:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-45674ff0>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-45674ff0>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-45674ff0:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-45674ff0>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-2fefd04b .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-2fefd04b.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-2fefd04b.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-2fefd04b.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-2fefd04b.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-2fefd04b.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-2fefd04b .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-2fefd04b .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-2fefd04b .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-4d1fb814 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-4d1fb814 .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-896cfa7:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-896cfa7>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-896cfa7>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-896cfa7:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-896cfa7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-156018ce .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-156018ce.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-156018ce.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-156018ce.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-156018ce.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-156018ce.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-156018ce .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-156018ce .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-156018ce .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-25f5b2cb {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-25f5b2cb .elementor-heading-title {
    color: #333333;
    font-size: 16px;
}

.elementor-452 .elementor-element.elementor-element-6e279474:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-452 .elementor-element.elementor-element-6e279474>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-452 .elementor-element.elementor-element-6e279474>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #FFFFFF;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 15px 0px 15px;
    padding: 70px 0px 70px 0px;
}

.elementor-452 .elementor-element.elementor-element-6e279474:hover>.elementor-element-populated {
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #2a94ff;
    ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.elementor-452 .elementor-element.elementor-element-6e279474>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-57109d36 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-57109d36.elementor-view-stacked .elementor-icon {
    background-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-57109d36.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-57109d36.elementor-view-default .elementor-icon {
    color: #B2B2B2;
    border-color: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-57109d36.elementor-view-framed .elementor-icon,
.elementor-452 .elementor-element.elementor-element-57109d36.elementor-view-default .elementor-icon svg {
    fill: #B2B2B2;
}

.elementor-452 .elementor-element.elementor-element-57109d36 .elementor-icon {
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-57109d36 .elementor-icon i,
.elementor-452 .elementor-element.elementor-element-57109d36 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-452 .elementor-element.elementor-element-676a67ae {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-676a67ae .elementor-heading-title {
    color: #333333;
    font-size: 16px;
    line-height: 1.3em;
}

.elementor-452 .elementor-element.elementor-element-71349f26>.elementor-container {
    max-width: 1450px;
}

.elementor-452 .elementor-element.elementor-element-71349f26:not(.elementor-motion-effects-element-type-background),
.elementor-452 .elementor-element.elementor-element-71349f26>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F5F5;
}

.elementor-452 .elementor-element.elementor-element-71349f26 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 20px 0px 80px 0px;
}

.elementor-452 .elementor-element.elementor-element-71349f26>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-452 .elementor-element.elementor-element-6c2e8ce {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-6c2e8ce .elementor-heading-title {
    color: #E3E3E3;
    font-family: "Arial", Sans-serif;
    font-size: 50px;
}

.elementor-452 .elementor-element.elementor-element-6c1bf26 {
    text-align: center;
}

.elementor-452 .elementor-element.elementor-element-6c1bf26 .elementor-heading-title {
    color: #333333;
    font-family: "Arial", Sans-serif;
    font-size: 40px;
}

.elementor-452 .elementor-element.elementor-element-6c1bf26>.elementor-widget-container {
    margin: -50px 0px 0px 0px;
}

.elementor-452 .elementor-element.elementor-element-3dc454d2>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-452 .elementor-element.elementor-element-10c26d3c {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-54c27677 {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-54f5be24 {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-7e4390cc {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-6a15af22 {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-45674ff0 {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-896cfa7 {
        width: 50%;
    }

    .elementor-452 .elementor-element.elementor-element-6e279474 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-452 .elementor-element.elementor-element-3a0feba7 {
        padding: 0px 0px 20px 0px;
    }

    .elementor-452 .elementor-element.elementor-element-54f5be24>.elementor-element-populated {
        margin: 30px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-7e4390cc>.elementor-element-populated {
        margin: 30px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-896cfa7>.elementor-element-populated {
        margin: 30px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-6e279474>.elementor-element-populated {
        margin: 30px 15px 0px 15px;
    }
}

@media(max-width:767px) {
    .elementor-452 .elementor-element.elementor-element-70a94d10 .elementor-heading-title {
        font-size: 50px;
    }
    html[lang="ar"] .elementor-452 .elementor-element.elementor-element-70a94d10 .elementor-heading-title {
        direction: rtl !important;
    }

    .elementor-452 .elementor-element.elementor-element-98836a8 {
        font-size: 14px;
    }

    .elementor-452 .elementor-element.elementor-element-54c27677>.elementor-element-populated {
        margin: 20px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-54f5be24>.elementor-element-populated {
        margin: 20px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-45674ff0>.elementor-element-populated {
        margin: 20px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-896cfa7>.elementor-element-populated {
        margin: 20px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-6e279474>.elementor-element-populated {
        margin: 20px 15px 0px 15px;
    }

    .elementor-452 .elementor-element.elementor-element-6c2e8ce .elementor-heading-title {
        font-size: 32px;
    }

    .elementor-452 .elementor-element.elementor-element-6c1bf26 .elementor-heading-title {
        font-size: 28px;
    }

    .elementor-452 .elementor-element.elementor-element-6c1bf26>.elementor-widget-container {
        margin: -30px 0px 0px 0px;
    }
}