f.elementor-839 .elementor-element.elementor-element-4d05ddf>.elementor-container {
    max-width: 1080px;
}

.elementor-839 .elementor-element.elementor-element-4d05ddf:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-4d05ddf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F6F6;
    background-image: url("beij2.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-839 .elementor-element.elementor-element-4d05ddf {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 20px 0px;
}

.elementor-839 .elementor-element.elementor-element-4d05ddf>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-e1fecbe .elementor-heading-title {
    -webkit-text-fill-color: #073971;
    font-weight: 500;
    font-size: 24px;
    padding-left: 13px;

}
html[lang="ar"] .elementor-839 .elementor-element.elementor-element-e1fecbe .elementor-heading-title {
    direction: rtl !important;
    text-align: right !important;
}


.elementor-839 .elementor-element.elementor-element-ac16332 {
    --divider-border-style: solid;
    --divider-border-color: #000;
    --divider-border-width: 2px;
}

.elementor-839 .elementor-element.elementor-element-ac16332 .elementor-divider-separator {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-ac16332 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-839 .elementor-element.elementor-element-3218443>.elementor-container {
    max-width: 1080px;
}

.elementor-839 .elementor-element.elementor-element-3218443:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-3218443>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F6F6;
    background-image: url("beij2.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-839 .elementor-element.elementor-element-3218443 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-3218443>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-23e11ee>.elementor-element-populated {
    margin: 0px 20px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-695ff9a>.elementor-container {
    min-height: 120px;
}

.elementor-839 .elementor-element.elementor-element-695ff9a:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-695ff9a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(145deg, #344655, #151b20);
    border: 1px solid rgb(255 255 255 / 78%);
    box-shadow: inset 0 0 20px rgb(0 0 0 / 85%), 0px 0px 13px 3px rgba(0, 0, 0, 0.3);
}

.elementor-839 .elementor-element.elementor-element-695ff9a,
.elementor-839 .elementor-element.elementor-element-695ff9a>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-839 .elementor-element.elementor-element-695ff9a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 40px 30px 40px 30px;
}

.elementor-839 .elementor-element.elementor-element-695ff9a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-61d4ff2,
.elementor-839 .elementor-element.elementor-element-61d4ff2>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-839 .elementor-element.elementor-element-61d4ff2 {
    margin-top: -240px;
    margin-bottom: 0px;
    padding: 0px 010px 0px 0px;
}

.elementor-bc-flex-widget .elementor-839 .elementor-element.elementor-element-86a88a5.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-86a88a5.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-86a88a5>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-839 .elementor-element.elementor-element-c59fc8e .elementor-heading-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
}

.elementor-839 .elementor-element.elementor-element-645229f .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-839 .elementor-element.elementor-element-645229f .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-839 .elementor-element.elementor-element-645229f .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 6px 16px 6px 16px;
}

.elementor-839 .elementor-element.elementor-element-645229f>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-89fc3aa>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-d08d843 {
    text-align: right;
}

.elementor-839 .elementor-element.elementor-element-d08d843 .elementor-image img {
    width: 265px;
    border: none;
}

.elementor-839 .elementor-element.elementor-element-6cbfa35>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
}

.elementor-839 .elementor-element.elementor-element-9b7849b>.elementor-container {
    min-height: 120px;
}

.elementor-839 .elementor-element.elementor-element-9b7849b:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-9b7849b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(145deg, #0a192f, #020817);
    position: relative;
    box-shadow: inset 0 0 20px rgb(0 0 0 / 85%), 0px 0px 13px 3px rgba(0, 0, 0, 0.3);
}
.elementor-839 .elementor-element.elementor-element-9b7849b:not(.elementor-motion-effects-element-type-background)::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: radial-gradient(circle at 80% 20%, rgba(0, 119, 255, 0.15), transparent 50%);
    pointer-events: none;
}

.elementor-839 .elementor-element.elementor-element-9b7849b,
.elementor-839 .elementor-element.elementor-element-9b7849b>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-839 .elementor-element.elementor-element-9b7849b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 40px 30px 40px 30px;
}

.elementor-839 .elementor-element.elementor-element-9b7849b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-92a9bd5,
.elementor-839 .elementor-element.elementor-element-92a9bd5>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-839 .elementor-element.elementor-element-92a9bd5 {
    margin-top: -240px;
    margin-bottom: 0px;
}


.elementor-bc-flex-widget .elementor-839 .elementor-element.elementor-element-4b5b28f.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-4b5b28f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

@media (max-width: 1025px) {
    .elementor-839 .elementor-element.elementor-element-4b5b28f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
        top: -57px;
    }
}

.elementor-839 .elementor-element.elementor-element-4b5b28f>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-839 .elementor-element.elementor-element-5e786b0 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
    width: 172px;
}

.elementor-839 .elementor-element.elementor-element-5c402c9 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-839 .elementor-element.elementor-element-5c402c9 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-839 .elementor-element.elementor-element-5c402c9 .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 6px 16px 6px 16px;
}

.elementor-839 .elementor-element.elementor-element-5c402c9>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-8a4fd11>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-4dd4f73 {
    text-align: right;
}

.elementor-839 .elementor-element.elementor-element-4dd4f73 .elementor-image img {
    width: 265px;
    border: none;
}

.elementor-839 .elementor-element.elementor-element-4896c5e>.elementor-container {
    max-width: 1080px;
}

.elementor-839 .elementor-element.elementor-element-4896c5e:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-4896c5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F6F6F6;
    background-image: url("beij2.jpg");
    background-position: center center;
    background-size: cover;
}

.elementor-839 .elementor-element.elementor-element-4896c5e {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px 70px 0px;
}

.elementor-839 .elementor-element.elementor-element-4896c5e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-cecb202>.elementor-element-populated {
    margin: 0px 20px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-52f3d7a>.elementor-container {
    min-height: 120px;
}

.elementor-839 .elementor-element.elementor-element-52f3d7a:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-52f3d7a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(45deg, #121212 25%, #1a1a1a 25%, #1a1a1a 50%, #121212 50%, #121212 75%, #1a1a1a 75%, #1a1a1a 100%);
    background-size: 8px 8px;
    box-shadow: 0px 0px 20px 0px #d4af37;
}

.elementor-839 .elementor-element.elementor-element-52f3d7a,
.elementor-839 .elementor-element.elementor-element-52f3d7a>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-839 .elementor-element.elementor-element-52f3d7a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 40px 30px 40px 30px;
}

.elementor-839 .elementor-element.elementor-element-52f3d7a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-5f60ff8,
.elementor-839 .elementor-element.elementor-element-5f60ff8>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-839 .elementor-element.elementor-element-5f60ff8 {
    margin-top: -240px;
    margin-bottom: 0px;
    padding: 0px 010px 0px 0px;
}

.elementor-bc-flex-widget .elementor-839 .elementor-element.elementor-element-4030cfa.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-4030cfa.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-4030cfa>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-839 .elementor-element.elementor-element-ebc95fe .elementor-heading-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
}

.elementor-839 .elementor-element.elementor-element-0a96774 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-839 .elementor-element.elementor-element-0a96774 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-839 .elementor-element.elementor-element-0a96774 .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 6px 16px 6px 16px;
}

.elementor-839 .elementor-element.elementor-element-0a96774>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-16a285e.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-839 .elementor-element.elementor-element-16a285e>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-d70faf9 {
    text-align: right;
}

.elementor-839 .elementor-element.elementor-element-d70faf9 .elementor-image img {
    width: 265px;
    border: none;
}

.elementor-839 .elementor-element.elementor-element-4e05171>.elementor-element-populated {
    margin: 0px 0px 0px 20px;
}

.elementor-839 .elementor-element.elementor-element-4c245fa>.elementor-container {
    min-height: 120px;
}

.elementor-839 .elementor-element.elementor-element-4c245fa:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-4c245fa>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background: linear-gradient(145deg, #555555, #2d3e5d);
    box-shadow: 0px 0px 20px 0px #34425c;
}

.elementor-839 .elementor-element.elementor-element-4c245fa,
.elementor-839 .elementor-element.elementor-element-4c245fa>.elementor-background-overlay {
    border-radius: 10px 10px 10px 10px;
}

.elementor-839 .elementor-element.elementor-element-4c245fa {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 40px 30px 40px 30px;
}

.elementor-839 .elementor-element.elementor-element-4c245fa>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-d2fba0e,
.elementor-839 .elementor-element.elementor-element-d2fba0e>.elementor-background-overlay {
    border-radius: 20px 20px 20px 20px;
}

.elementor-839 .elementor-element.elementor-element-d2fba0e {
    margin-top: -240px;
    margin-bottom: 0px;
    padding: 0px 010px 0px 0px;
}

.elementor-bc-flex-widget .elementor-839 .elementor-element.elementor-element-a2d1513.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-a2d1513.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-839 .elementor-element.elementor-element-a2d1513>.elementor-element-populated {
    padding: 0px 0px 0px 50px;
}

.elementor-839 .elementor-element.elementor-element-6e0c5a3 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 300;
}

.elementor-839 .elementor-element.elementor-element-b87adee .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-839 .elementor-element.elementor-element-b87adee .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-839 .elementor-element.elementor-element-b87adee .elementor-button {
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 10px 10px 10px 10px;
    padding: 6px 16px 6px 16px;
}

.elementor-839 .elementor-element.elementor-element-b87adee>.elementor-widget-container {
    margin: 15px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-f472e44>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-c51f9d1 {
    text-align: right;
}

.elementor-839 .elementor-element.elementor-element-c51f9d1 .elementor-image img {
    width: 265px;
    border: none;
}

.elementor-839 .elementor-element.elementor-element-30c4c4e .elementor-heading-title {
    color: #333333;
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.elementor-839 .elementor-element.elementor-element-a2b46e3 {
    --divider-border-style: solid;
    --divider-border-color: #000;
    --divider-border-width: 2px;
}

.elementor-839 .elementor-element.elementor-element-a2b46e3 .elementor-divider-separator {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-a2b46e3 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-839 .elementor-element.elementor-element-227f3a3>.elementor-container {
    max-width: 1080px;
}

.elementor-839 .elementor-element.elementor-element-227f3a3 {
    padding: 0px 0px 138px 0px;

}

.elementor-839 .elementor-element.elementor-element-eedc1b3 .elementor-heading-title {
    color: white;
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 400;
}
html[lang="ar"] .elementor-839 .elementor-element.elementor-element-eedc1b3 .elementor-heading-title{
    direction: rtl !important;
    text-align: right !important;
}


.elementor-839 .elementor-element.elementor-element-1ceea34 {
    --divider-border-style: solid;
    --divider-border-color: #ffffff;
    --divider-border-width: 2px;
}

.elementor-839 .elementor-element.elementor-element-1ceea34 .elementor-divider-separator {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-1ceea34 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-839 .elementor-element.elementor-element-d2162c1:after {
    content: "";
}

.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-posts-container {
    grid-column-gap: 16px;
    grid-row-gap: 40px;
    padding-top: 55px;
}

.elementor-msie .elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post {
    padding-right: calc(36px/2);
    padding-left: calc(36px/2);
    padding-bottom: 40px;
}

.elementor-msie .elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-posts-container {
    margin-left: calc(-36px/2);
    margin-right: calc(-36px/2);
}

.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05));
    border-radius: 28px;
    overflow: hidden;
    backdrop-filter: blur(6px) saturate(136%) brightness(1.2);
}

.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post__text {
    transition: all 0.3s ease;
}
.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post{
    transition: all 0.3s ease;
    border: 1px solid #c5ebff;
    background: linear-gradient(to top, rgb(0 0 0 / 15%) 0%, rgb(0 0 0) 100%);
}
@media (min-width:1023px){
    .elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post:hover {
        transform: translateY(-10px);
        transition: all 0.2s ease-in-out;
        box-shadow: 0px 0px 13px 3px #c5ebff;
    }
}


.elementor-839 .elementor-element.elementor-element-d2162c1.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 20px;
}

.elementor-839 .elementor-element.elementor-element-d2162c1.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 20px;
}

.elementor-839 .elementor-element.elementor-element-d2162c1.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 20px;
}

.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post__title,
.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post__title a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    padding-top: 6px;
}

.elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post__title a {
    padding-bottom: 34px !important;
    padding: 0px 20px 0px 20px;
}

.elementor-839 .elementor-element.elementor-element-d2162c1>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-4a26186>.elementor-container {
    max-width: 1200px;
}

.elementor-839 .elementor-element.elementor-element-4a26186:not(.elementor-motion-effects-element-type-background),
.elementor-839 .elementor-element.elementor-element-4a26186>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F1F1F1;
    background-image: url("beij4.jpg");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-839 .elementor-element.elementor-element-4a26186 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 40px 0px 100px 0px;
}

.elementor-839 .elementor-element.elementor-element-4a26186>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-ec0c425 .elementor-heading-title {
    color: #333333;
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.elementor-839 .elementor-element.elementor-element-acc0e19 {
    --divider-border-style: solid;
    --divider-border-color: #000;
    --divider-border-width: 2px;
}

.elementor-839 .elementor-element.elementor-element-acc0e19 .elementor-divider-separator {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-acc0e19 .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-839 .elementor-element.elementor-element-39c6ad5 {
    margin-top: 30px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-839 .elementor-element.elementor-element-7e88f82.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-839 .elementor-element.elementor-element-7e88f82.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-839 .elementor-element.elementor-element-7e88f82>.elementor-element-populated {
    padding: 0px 130px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-d79ecb3 {
    color: #333333;
    font-family: "Open Sans", Sans-serif;
    font-size: 16px;
    line-height: 2em;
}

.elementor-839 .elementor-element.elementor-element-ed8678d .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-839 .elementor-element.elementor-element-ed8678d .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-839 .elementor-element.elementor-element-ed8678d .elementor-button {
    fill: #333333;
    color: #333333;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #333333;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 20px 10px 20px;
}

.elementor-839 .elementor-element.elementor-element-ed8678d>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
}

.elementor-839 .elementor-element.elementor-element-370222e>.elementor-element-populated {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: #FFFFFF;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    border-radius: 28px;
}

.elementor-839 .elementor-element.elementor-element-370222e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-839 .elementor-element.elementor-element-a6829ff>.elementor-container {
    max-width: 1080px;
}

.elementor-839 .elementor-element.elementor-element-a6829ff {
    padding: 30px 0px 50px 0px;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 115px;
    background: rgba(240, 248, 255, 0.466);
}

.elementor-839 .elementor-element.elementor-element-83a1129 .elementor-heading-title {
    color: #083971;
    font-family: "Roboto", Sans-serif;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 36px;
}

html[lang="ar"] .elementor-839 .elementor-element.elementor-element-83a1129 .elementor-heading-title {
    direction: rtl !important;
}



.elementor-839 .elementor-element.elementor-element-964202f {
    display: none;
}

.elementor-839 .elementor-element.elementor-element-964202f .elementor-divider-separator {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-964202f .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-839 .elementor-element.elementor-element-c804e1e:after {
    content: "";
}

.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__thumbnail__link {
    width: 100%;
}

.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__meta-data span+span:before {
    content: "///";
}

.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-posts-container {
    grid-column-gap: 18px;
    grid-row-gap: 35px;
}

.elementor-msie .elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post {
    padding-right: calc(70px/2);
    padding-left: calc(70px/2);
    padding-bottom: 35px;
}

.elementor-msie .elementor-839 .elementor-element.elementor-element-c804e1e .elementor-posts-container {
    margin-left: calc(-70px/2);
    margin-right: calc(-70px/2);
}

.elementor-839 .elementor-element.elementor-element-c804e1e.elementor-posts--thumbnail-left .elementor-post__thumbnail__link {
    margin-right: 20px;
}

.elementor-839 .elementor-element.elementor-element-c804e1e.elementor-posts--thumbnail-right .elementor-post__thumbnail__link {
    margin-left: 20px;
}

.elementor-839 .elementor-element.elementor-element-c804e1e.elementor-posts--thumbnail-top .elementor-post__thumbnail__link {
    margin-bottom: 20px;
}

.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__title,
.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__title a {
    font-size: 17px;
    font-weight: 500;
}

.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__title {
    margin-bottom: 10px;
}

.elementor-839 .elementor-element.elementor-element-c804e1e>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

@media(max-width:1024px) {
    .elementor-839 .elementor-element.elementor-element-4d05ddf {
        padding: 70px 10px 70px 10px;
    }

    .elementor-839 .elementor-element.elementor-element-61d4ff2 {
        margin-top: -180px;
        margin-bottom: 0px;
    }

    .elementor-839 .elementor-element.elementor-element-86a88a5>.elementor-element-populated {
        padding: 0px 0px 10px 30px;
    }

    .elementor-839 .elementor-element.elementor-element-92a9bd5 {
        margin-top: -180px;
        margin-bottom: 0px;
    }

    .elementor-839 .elementor-element.elementor-element-4b5b28f>.elementor-element-populated {
        padding: 0px 0px 10px 30px;
    }

    .elementor-839 .elementor-element.elementor-element-5f60ff8 {
        margin-top: -180px;
        margin-bottom: 0px;
    }

    .elementor-839 .elementor-element.elementor-element-4030cfa>.elementor-element-populated {
        padding: 0px 0px 10px 30px;
        display: ;
    }

    .elementor-839 .elementor-element.elementor-element-d2fba0e {
        margin-top: -180px;
        margin-bottom: 0px;
    }

    .elementor-839 .elementor-element.elementor-element-a2d1513>.elementor-element-populated {
        padding: 0px 0px 10px 30px;
    }

    .elementor-839 .elementor-element.elementor-element-227f3a3 {
        padding: 30px 10px 30px 10px;
    }

    .elementor-839 .elementor-element.elementor-element-4a26186 {
        padding: 70px 10px 70px 10px;
    }

    .elementor-839 .elementor-element.elementor-element-7e88f82>.elementor-element-populated {
        padding: 0px 0px 0px 0px;
    }

    .elementor-839 .elementor-element.elementor-element-370222e>.elementor-element-populated {
        margin: 40px 0px 0px 0px;
    }

    .elementor-839 .elementor-element.elementor-element-a6829ff {
        padding: 30px 10px 30px 10px;
    }
}

@media(max-width:767px) {
    .elementor-839 .elementor-element.elementor-element-a516ef4 {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .elementor-839 .elementor-element.elementor-element-d2162c1:after {
        content: "";
    }

    .elementor-839 .elementor-element.elementor-element-d2162c1 .elementor-post__thumbnail__link {
        width: 100%;
    }

    .elementor-839 .elementor-element.elementor-element-c804e1e:after {
        content: "";
    }

    .elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__thumbnail__link {
        width: 100%;
    }
}

@media(min-width:768px) {
    .elementor-839 .elementor-element.elementor-element-7e88f82 {
        width: 45%;
    }

    .elementor-839 .elementor-element.elementor-element-370222e {
        width: 55%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-839 .elementor-element.elementor-element-7e88f82 {
        width: 100%;
    }

    .elementor-839 .elementor-element.elementor-element-370222e {
        width: 100%;
    }
}

@media(min-width:1025px) {

    .elementor-839 .elementor-element.elementor-element-4d05ddf:not(.elementor-motion-effects-element-type-background),
    .elementor-839 .elementor-element.elementor-element-4d05ddf>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-839 .elementor-element.elementor-element-3218443:not(.elementor-motion-effects-element-type-background),
    .elementor-839 .elementor-element.elementor-element-3218443>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }

    .elementor-839 .elementor-element.elementor-element-4896c5e:not(.elementor-motion-effects-element-type-background),
    .elementor-839 .elementor-element.elementor-element-4896c5e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed;
    }
}

/* Start custom CSS for posts, class: .elementor-element-d2162c1 */
.elementor-widget-posts .elementor-post__title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* End custom CSS */
/* Start custom CSS for posts, class: .elementor-element-c804e1e */
.elementor-839 .elementor-element.elementor-element-c804e1e .elementor-post__title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #083971;
    padding: 6px 0 22px 6px;
    font-weight: 600;
}

.elementor-widget-posts .elementor-post__excerpt p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-left: 8px;
    color: #083971;
    font-size: large;
}

/* End custom CSS */



/*complementary_color*/
.htop-51 {
    background: #FA1919;
}

.fbotton-51 {
    background: #FA1919;
}

.hnav-51 ul li a:hover {
    background-color: #1F1F1F;
}

.hnav-51 ul li ul li a:hover {
    color: #1F1F1F;
}

.hcontact-51 a:hover .find-51-find {
    border: 1px solid #1F1F1F;
}

/*ͷ�� end*/

.footer-51-right li .fabout-51 a {
    color: #1F1F1F;
}

.footer-51-right li b {
    color: #1F1F1F;
}

.footer-51-right li a:hover {
    color: #1F1F1F;
}

/*�ײ� end*/

.pmore-01-Bread ul li span {
    color: #1F1F1F;
}

/*���м end*/

.p-01-left b {
    background: #1F1F1F;
}

.pmenu_01-list ul li a:hover {
    color: #1F1F1F;
}

.pmenu_product-01 ul li a:hover img {
    border: 1px solid #1F1F1F;
}

.pmenu_product-01 ul li a:hover p {
    color: #1F1F1F;
}

/*��Ʒ��� end*/

.p_btn-01 .hover {
    border-color: #1F1F1F;
    color: #1F1F1F;
}

.p_btn-01 a:hover {
    border: 1px solid #1F1F1F;
    color: #1F1F1F;
}

.p_btn-01 a:first-child:hover {
    color: #1F1F1F;
}

.p_lists-01 ul li span {
    color: #1F1F1F;
    border-bottom: 2px solid #1F1F1F;
}

.p_lists-01 ul li span:hover {
    background: #1F1F1F;
}

.p_lists-01 ul li::after {
    background: #1F1F1F;
}

/*��Ʒ�б�ҳ���� end*/





/*��ҳ end*/

.con-01-message .pm_title-01 span {
    background: #1F1F1F;
}

.con-01-message .pmfrom-01 li:last-child input:hover {
    border-left-color: #1F1F1F;
    border-left-color: #1F1F1F;
    border-right-color: #1F1F1F;
    border-top-color: #1F1F1F;
    border-bottom-color: #1F1F1F;
    background: -moz-linear-gradient(top, #1F1F1F, #1F1F1F);
    background: -o-linear-gradient(top, #1F1F1F, #1F1F1F);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1F1F1F), to(#1F1F1F));
}

/*��ҳ���� end*/

.pmore-01-btn-wrap a:hover {
    background: #1F1F1F;
}

.product-view-01 .image-additional li.current a {
    border: 2px solid #1F1F1F;
}

.product-view-01 .swiper-button-prev:not(.swiper-button-disabled):hover,
.product-view-01 .swiper-button-next:not(.swiper-button-disabled):hover,
.product-view-01 .image-additional:hover+.swiper-button-prev:not(.swiper-button-disabled),
.product-view-01 .image-additional:hover+.swiper-button-next:not(.swiper-button-disabled) {
    background-color: #1F1F1F;
}

.pmore-01-detail .detail-bot-tit {
    color: #1F1F1F;
}

.pmore-01-detail .pagination .tab-panel-wrap-prev:hover,
.pmore-01-detail .pagination .tab-panel-wrap-next:hover {
    color: #1F1F1F;
}

.pm-01-goods-may-like .product_item:hover .item_title a {
    color: #1F1F1F;
}

.pm-01-goods-may-like .swiper-button-prev,
.pm-01-goods-may-like .swiper-button-next {
    background-color: #1F1F1F;
}

/*��Ʒ����ҳ end*/

.nlist-01-left b {
    background: #1F1F1F;
    display: none;
}

.nl-01-label a:hover {
    color: #8f9e8f;
}

.nl-01-latest li a:hover {
    color: #d4d4d4;
}

.nl-01-archive li a:hover {
    color: #bdb5b5;
}

/*������� end*/

.nl_lists-01 ul li span {
    color: #1F1F1F;
    border-bottom: 2px solid #1F1F1F;
}

.nl_lists-01 ul li span:hover {
    background: #1F1F1F;
}

.nl_lists-01 ul li::after {
    background: #1F1F1F;
}

/*�����б�ҳ end*/

.srswiper-01-box .swiper-slide a:hover p {
    color: #1F1F1F;
}

/*404ҳ�� end*/

.sr-01-list li a:hover p {
    color: #1F1F1F;
}

.srswiper-01-box .swiper-slide a:hover p {
    color: #1F1F1F;
}

/*searchҳ�� end*/

#comments .submit {
    background-color: #1F1F1F !important;
}

/*���۰�ť end*/

.chat .chat-message i {
    color: #1F1F1F !important;
}

.chat .chat-message button {
    color: #1F1F1F !important;
}

.chat .chat-message button:hover {
    color: #1F1F1F !important;
}

.online {
    color: #1F1F1F;
}

.chat .chat-history .my-message {
    background: #1F1F1F;
}

.chat .chat-history::-webkit-scrollbar-track {
    background-color: #1F1F1F;
}

.chat .chat-history .message:after {
    border-bottom-color: #1F1F1F;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94c2ed;
}

.chat_1 {
    background-color: #1F1F1F;
}

/*������ end*/

.download_nav .choice,
.download_nav li:hover {
    background: #1F1F1F;
    border: 1px solid #1F1F1F;
}

.download_btn:hover {
    background-color: #1F1F1F;
}

#downloadbox ul li a:hover {
    color: #1F1F1F;
}

/*Download end*/

.p_list-01 ul li big:hover {
    background: #1F1F1F !important;
}

.pmore_01-text li:hover div {
    border: 2px solid #1F1F1F !important;
}

.gw_num em:hover {
    background-color: #1F1F1F !important;
}

.pmore_01-from:hover {
    background: #1F1F1F !important;
}

.select {
    border: 2px solid #1F1F1F !important;
}

.select::before {
    background-color: #1F1F1F !important;
}

.recentcomments a {
    display: inline !important;
    padding: 0 !important;
    margin: 0 !important;
}



.reasons-wrapper {
    display: flex;
    flex-wrap: wrap; /* عشان لو الشاشة صغرت ينزلوا تحت بعض (Mobile Friendly) */
    gap: 20px; /* المسافة بين العناصر */
    justify-content: space-between;
    padding: 40px 20px 40px 44px;
    background: transparent; /* عشان تظهر خلفية الموقع اللي وراها */
}
/* الحاوية الرئيسية */
.reason-box {
    flex: 1; /* يخلي الأربعة ياخدوا مساحات متساوية */
    min-width: 360px; /* أقل عرض للعنصر عشان ميبقاش مضغوط */
    border-left: 4px solid #00E5FF; /* الخط السماوي اللي في المقترح */
    padding-left: 20px;
    margin-bottom: 20px;
    height: 187px;
}
@media (max-width:767px) {
    .reason-box{
        padding-left: 15px;
        min-width: 330px !important;
    }
    .reason-box h3 {
    font-size: 20px !important;
    
    }
    .reason-box p {

    max-width: 100% !important;
    }
    .reasons-wrapper{
        padding: 40px 0px 40px 44px;
    }

}


.reason-box .s1{
    font-size: 49px;
    color: #00e5ff;
    position: absolute;
    left: -65px;
}
.reason-box h3 {
    color: #071e4b; /* اللون الأزرق الغامق بتاعك */
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.reason-box p {
    color: #444;
    font-size: 18px;
    line-height: 1.3;
    max-width: 100%;
}